:root {
  --color-primary: #d2e3e6;
  --color-secondary: #ffffff;
  --color-accent: #EB5E28;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: var(--color-primary);
}

body {
  padding-bottom: 1rem;
}

.App {
  min-height: 100vh;
  width: 100%;
}

.postCard:first-of-type, .post:first-of-type {
  margin: 0 auto;
}

.postCard, .post {
  display: flex;
  background-color: var(--color-secondary);
  width: 80%;
  margin: 10px auto;
  padding: 5px;
  border-radius: 3px;
  color: black;
  overflow: hidden;
}

.postCard a, .post a {
  text-decoration: none;
  color: black;
}

.postCard a:hover, .post a:hover {
  text-decoration: underline;
}

.postCard h2, .post h2 {
  margin-top: 0;
}

.postCard .postBody p {
  overflow: hidden;
  text-overflow: clip;
  max-height: 8ch;
}

.postCard:hover {
  scale: 101%;
}

.votes {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin-right: 1rem;
}

.votes p {
  margin: 0;
}

.vote {
  color: black;
}

.vote:first-child:hover {
  color: #E63946;
}

.vote:last-child:hover {
  color: #457B9D;
}

#upVote {
  color: #E63946;
}

#downVote {
  color: #457B9D;
}

.postTop {
  display: flex;
  flex-direction: row;
  padding: 7px 0 5px 0;
}

.postTop p {
  margin: 0 .5rem;
}

.header {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem 0;
  background-color: var(--color-secondary);
}

.header a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 1%;
}
